{% include svg-icons.html %}

<head>

【官方网址|佳士工人和声援团最新消息文章获取】
  
</head>

<p align="left">
全中国、全社会关注佳士建会事件的正义人士：
</p>
  
<p align="left">

★网址★

<a href= "https://jiashigrsyt.github.io/">https://jiashigrsyt.github.io/ </a>

为相关消息固定的官方发布网址，将持续保持更新，需要翻墙浏览，翻墙方法已在最下方展示！请大家收藏，经常浏览，积极转发！</br>


</p>



<p align="left">
  
  翻墙方式：</br>

1.复制链接到【浏览器】打开，即可下载“小明VPN”。

<a href= "https://qrqrr.github.io/xiaoming-2.0.1_gt.apk">https://qrqrr.github.io/xiaoming-2.0.1_gt.apk</a></br>

2.下载完成后打开“小明VPN”，点击圆形开机按钮，当显示“对勾”符号时即可顺畅访问官网。</br>

</p>

<p>

【小贴士】请不要在使用微信支付或支付宝的时候同时使用VPN软件，以免信息泄露！

</p>

<p>
  
联系我们:<a href= "jiashishengyuantuan@gmail.com">jiashishengyuantuan@gmail.com</a>
  
</p>

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}
